@import url('https://fonts.googleapis.com/css?family=Raleway:300,400i,900');

:root {
    --main-radius: 10px;
    --main-padding: 7px;
    --small-padding: 3px;
    --main-margin: 15px;
    --50-color: #f5f7fa;
    --100-color: hsl(214, 15%, 91%);
    --200-color: hsl(210, 16%, 82%);
    --300-color: #9aa5b1;
    --400-color: #7b8794;
    --500-color: hsl(211, 12%, 43%);
    --600-color: hsl(209, 14%, 37%);
    --700-color: hsl(209, 18%, 30%);
    --800-color: hsl(209, 20%, 25%);
    --900-color: hsl(210, 24%, 16%);
    --blue: hsl(232, 51%, 41%);
    --red: hsl(0, 66%, 47%);
    --green: hsl(174, 100%, 27%);
    --yellow: hsl(40, 100%, 50%);
}
html {
    --h: 210;
    --s: 20%;
    --l: 80%;
    --shadow-delta: 20%;
    --text-delta: 35%;
    --background: hsl(var(--h), var(--s), var(--l));
    --background-second: hsl(var(--h), var(--s), calc(var(--l) + 10%));
    --text: hsl(var(--h), var(--s), calc(100% - var(--l)));
    --text-second: hsl(var(--h), var(--s), calc(calc(100% - var(--l)) + var(--text-delta)));
    --shadow-up: hsl(var(--h), var(--s), calc(var(--l) - var(--shadow-delta)));
    --shadow-down: hsl(var(--h), var(--s), calc(var(--l) + var(--shadow-delta)));
    --bg-angle: 5deg;
    --bg-start: hsl(var(--h), var(--s), calc(var(--l) - 5%));
    --bg-end: hsl(var(--h), var(--s), calc(var(--l) + 5%));
  }
html.dark {
    --l: 15%;
    --shadow-delta: 5%;
    --text-delta: -40%;
    --bg-angle: -5deg;
}
/* .red { --h: 0; }
.blue { --h: 215; }
.green { --h: 130; }
.yellow { --h: 40; }
html .color { --s: 50%; --l: 60%; }
html.dark .color { --l: 25%; } */
html .red { --h: 0; --s: 60%; --l: 40%; }
html .blue { --h: 232; --s: 50%; --l: 40%; }
html .green { --h: 175; --s: 100%; --l: 25%; }
html .yellow { --h: 45; --s: 100%; --l: 35%; }
html.dark .red { --h: 0; --s: 60%; --l: 40%; }
html.dark .blue { --h: 232; --s: 50%; --l: 40%; }
html.dark .green { --h: 175; --s: 100%; --l: 25%; }
html.dark .yellow { --h: 45; --s: 100%; --l: 35%; }
.color {
    --main-color: hsl(var(--h), var(--s), var(--l));
    --bg-start: hsl(var(--h), var(--s), calc(var(--l) - 5%));
    --bg-end: hsl(var(--h), var(--s), calc(var(--l) + 5%));
}
.color:active:hover {
    --shadow-up: hsl(var(--h), var(--s), calc(var(--l) - 20%));
    --shadow-down: hsl(var(--h), var(--s), calc(var(--l) + 10%));
}



body {
    font-family: "Raleway", sans-serif;
    background: var(--background);
    color: var(--text);
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3em 10fr;
    grid-template-areas:
      "nav nav"
      "sidebar main";
    grid-gap: var(--main-margin);
    font-weight: 800;
    font-size: 12px;
}

nav {
    background: var(--background-second);
    grid-area: nav;
    display: flex;
    border-radius: var(--main-radius);
    /* padding-top: var(--main-padding); */
    text-align: center;
    box-shadow: 4px 4px 8px var(--shadow-up), -4px -4px 8px var(--shadow-down);
}
nav a {
    text-decoration: none;
    color: var(--text);
    padding: 0 5px;
    padding-top: 1em;
}
nav a:hover {
    color: var(--text-second);
}
nav a.active {
    background: var(--background);
    box-shadow: inset 1px 1px 2px var(--shadow-up), inset -1px -1px 2px var(--shadow-down);
}

main {
    background: var(--background);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.sidebar {
    background: var(--background-second);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: 4px 4px 8px var(--shadow-up), -4px -4px 8px var(--shadow-down);
}

/* h1 {
    border: 2px solid var(--red);
} */

.tasks {
    /* display: -webkit-box; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}
.task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "id name name"
      "main main main"
      "time time state";
    grid-gap: var(--main-margin);
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--main-color), var(--bg-end));
    /* background: var(--background-second); */
    /* margin: var(--main-margin);
    padding: var(--main-padding); */
    width: 20em;
    height: 6rem;
    border-radius: var(--main-radius);
    box-shadow: 4px 4px 8px var(--shadow-up), -4px -4px 8px var(--shadow-down);
}
.task * {
    width: fit-content;
    padding: var(--small-padding);
    background: var(--main-color);
    border-radius: var(--main-radius);
}
.task #id {
    grid-area: id;
    color: var(--text-second);
}
.task #name { grid-area: name; }
.task #time {
    grid-area: time;
    color: var(--text-second);
}
.task #state {
    grid-area: state;
    justify-self: end;
    padding: 5px;
    box-shadow: inset 1px 1px 2px var(--shadow-up), inset -1px -1px 2px var(--shadow-down);
}

@media only screen and (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main";
    }
    .tasks { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
    .tasks { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1000px) {
    .tasks { grid-template-columns: repeat(4, 1fr); }
}
