<html class="dark">
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css"/>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
      <div class="container">
        <nav>
          <div>Davahav</div>
          {% if page=="workers" %}
            {% set workers_class = "active" %}
          {% else %}
            {% set workers_class = "" %}
          {% endif %}
          {% if page=="tasks" %}
            {% set tasks_class = "active" %}
          {% else %}
            {% set tasks_class = "" %}
          {% endif %}
          <a class="{{workers_class}}" href="/workers">Workers</a>
          <a class="{{tasks_class}}" href="/tasks">Tasks</a>
        </nav>
        <div class="sidebar">
          <!-- <ul>
            <li><a href="/workers">Workers</a></li>
            <li><a href="/tasks">Tasks</a></li>
          </ul> -->
        </div>
        <main>
          {% block content %}{% endblock content %}
        </main>
      </div>
    </body>
</html>
