{% extends "base.html" %}
{% block title %}Tasks{% endblock title %}
{% block content %}
    <h1>Tasks</h1>
    <div class="tasks">
        <!-- <div id="123" class="task">
            <div id="id" class="color red">123</div>
            <div id="name">abc</div>
            <div id="state">abc</div>
        </div>
        <div id="123" class="task">
            <div id="id" class="color blue">123</div>
            <div id="name">abc</div>
            <div id="state">abc</div>
        </div>
        <div id="123" class="task">
            <div id="id" class="color green">123</div>
            <div id="name">abc</div>
            <div id="state">abc</div>
        </div>
        <div id="123" class="task">
            <div id="id" class="color yellow">123</div>
            <div id="name">abc</div>
            <div id="state">abc</div>
        </div> -->
        {% for task in tasks %}
            {% if task.state == "InProgress" %}
                {% set color = "blue" %}
            {% elif task.state == "Finished" %}
                {% set color = "green" %}
            {% elif task.state == "Error" %}
                {% set color = "red" %}
            {% else %}
                {% set color = "" %}
            {% endif %}
            <div id="{{task.id}}" class="task">
                <div id="id">{{task.id}}</div>
                <div id="name">{{task.name}}</div>
                <div id="time">{{task.created_at}}</div>
                <div id="state" class="color {{color}}">{{task.state}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
