{% extends "base.html" %}
{% block title %}Workers{% endblock title %}
{% block content %}
    <h1>Workers</h1>
    <table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>URL</th>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            <td>{{worker.id}}</td>
            <td>{{worker.name}}</td>
            <td>{{worker.type}}</td>
            <td>{{worker.url}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock content %}
